body {
  background-color: #101820;
}

#game {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

#cartas {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #7A8087;
  padding: 0px;
  margin-top: 0;
}

.Navegacion {
  display: flex;
  align-items: center;
  justify-content: left;
  background-color: #7A8087;
  padding: 0px;
  margin: 0px;
}

.logo-container {
  display: flex;
  align-items: left;
}
.logo {
  width: 110px;
  height: auto;
  align-items: left;
  z-index: left;
  padding: 10px;
  margin: 10px;
}

#navlist {
  list-style: none;
  display: flex;
}

.nav-item {
  cursor: pointer;
  padding: 10px;
  margin: 0 10px;
  color: #E8FF66;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 18px;
}

.card {
  width: 20rem;
  margin: auto;
  background-color: #7A8087;
}

.card-title{
  font-size: 18px;
  color: #e2e2e2;
}

p.card-text {
  font-size: 12px;
  color: #e2e2e2;
}

 footer{
  display: flex;
  background-color: #1b232c;
  color: #E8FF66;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 14px;
  padding: 5px;
  margin: 5px; 
}
