body {
    background-color: black;
}


#game {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

#cartas {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

nav {
  background-color: #ffffff;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

.card {
  width: 20rem;
  margin: auto; 
}

#card-text {
    font-size: 12px;
}