body {
    background-color: black;
}

#game {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

#cartas {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

nav {
  background-color: #ffffff;
  position: fixed;
  display: inline-flex;
  width: 100%;
  top: 0;
  z-index: 1000;
}

.navlist {
  float: right;
  margin-top: 40px;
  display: flex;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.card {
  width: 20rem;
  margin: auto;
  background-color: #25282A; 
}

#card-text {
    font-size: 12px;
}